pandas>=2.0
numpy>=1.24
scipy>=1.11
scikit-learn>=1.3
statsmodels>=0.14
lightgbm>=4.0
optuna>=3.4
Boruta>=0.4.3
river>=0.20
holidays>=0.40
requests>=2.31
matplotlib>=3.7
seaborn>=0.13
openpyxl>=3.1
jupyter>=1.0
pyarrow>=14.0
tqdm>=4.65
phik>=0.12
